extends ../_template

block head
    title= title

block content
    h1= title
    .component
        p
        div#about-us
            p#primary_title About Us
            p#general_paragraph Created to help users make a choice between a variety of websites, platforms, services and apps, our teams of researchers and advisors have familiarized themselves with every nook and cranny of the industry. Our charts, lists and reviews, guides and tips are free of charge and provide you with the information you need to make the best choice.
            p#contact_us_paragraph
                strong Contact Us
                span.newLine Did you find this site helpful? Is there anything you think we can improve? We'd be happy to hear back from you.
                span.newLine
                    strong For general questions, comments and suggestions
                        span email us at  
                    a(href="mailto:aboutus@naturalint.com") haykmargaryan0096@gmail.com
                span.newLine
                    strong For business inquiries
                    span please call our business development representatives at +1 916-509-7138.
                span.newLine
                    strong For snail mail communication,
                    span reach us at Natural Intelligence, 9245 Laguna Springs Dr, Suite 200, Elk Grove, CA 95758